// Targeting phones in portrait
@media (max-width: 768px) {
	body {
		background-color: #EEEEEE;
	}

	header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		height: 60px;
		border-bottom: 1px solid #ABB7B7;
		h1 {
			display: inline-block;
			font-size: 150%;
			color: $off-black;
			letter-spacing: 2.5px;
			padding: 0 5px;
		}
		h2 {
			display: none;
		}
		ul {
			display: none;
		}
		.ribbon {
			display: inline-block;
	    background: #3498DB;
	    height: 30px;
	    width: 30px;
	    position: relative;
	    top: -10px;
			left: 2%;
	    font: 600 16px sans-serif;
	    color: #fff;
	    line-height: 27px;
	    border: 0;
	    margin-right: 30px;
		}
		.ribbon:after {
	    content: "";
	    position: absolute;
	    bottom: -18px;
	    left: 0;
	    height: 0;
	    width: 0;
	    border: solid 15px #3498DB;
	    border-bottom-color: transparent;
		}
	}


	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		background:  white;
		width: 100%;
		border-top: 1px solid #ABB7B7;
		ul {
			width: 100%;
			margin: 1% auto;
			padding: 1% 0 1% 0;
			li {
				display: inline-block;
				width: 24%;
				text-align: center;
				span {
					display: block;
					font-size: 25px;
					text-align: center;
				}
				.footer-link {
					color: #2574A9;
					font-size: 10px;
				}
				.active {
					transition: .2s;
					color: #F9BF3B;
				}
			}
		}
	}
}