// My presets, resets and variables
$blue: #85D4E3;
$pink: #F4B5BD;
$dark-green: #9C964A;
$light-green: #CDC08C;
$yellow: #FAD77B;
$off-black:  #2C3E50;
$grey: #D3DDDC;

.wrapper {
	margin: 6%;
}

h1,	h2, h3, h4, h5, h6 {
		font-family: 'novecento_sans_widemedium';
		color: $off-black;
		letter-spacing: 2.5px;
}

p, li, blockquote, label, select, input, .button, .button-big, .button-small, .button-inverse {
	font-family: 'sofia_pro_lightregular';
	letter-spacing: 0.02em;
	color: #2C3E50;
}

ul {
	list-style-type: none
}

a {
	text-decoration: none;
}





