// My presets, resets and variables
$blue: #85D4E3;
$pink: #F4B5BD;
$dark-green: #9C964A;
$light-green: #CDC08C;
$yellow: #FAD77B;
$off-black:  #2C3E50;
$grey: #D3DDDC;
$darker-grey: #95A5A6;

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


h1,	h2, h3, h4, h5, h6 {
		font-family: 'novecento_sans_widemedium';
		color: $off-black;
		letter-spacing: 2.5px;
}

p, li, blockquote, label, select, input, .button, .button-big, .button-small, .button-inverse, a {
	font-family: 'sofia_pro_lightregular';
	letter-spacing: 0.04em;
	color: $off-black;
}

ul {
	list-style-type: none
}

a {
	text-decoration: none;
	margin: 0;
}





