.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'novecento_sans_widemedium';
  color: #2c3e50;
  letter-spacing: 2.5px;
}

p, li, blockquote, label, select, input, .button, .button-big, .button-small, .button-inverse, a {
  font-family: 'sofia_pro_lightregular';
  letter-spacing: 0.04em;
  color: #2c3e50;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4dk7et");
  src: url("../fonts/icomoon.eot?#iefix4dk7et") format("embedded-opentype"), url("../fonts/icomoon.woff?4dk7et") format("woff"), url("../fonts/icomoon.ttf?4dk7et") format("truetype"), url("../fonts/icomoon.svg?4dk7et#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e000";
}

.icon-laptop:before {
  content: "\e001";
}

.icon-desktop:before {
  content: "\e002";
}

.icon-tablet:before {
  content: "\e003";
}

.icon-phone:before {
  content: "\e004";
}

.icon-document:before {
  content: "\e005";
}

.icon-documents:before {
  content: "\e006";
}

.icon-search:before {
  content: "\e007";
}

.icon-clipboard:before {
  content: "\e008";
}

.icon-newspaper:before {
  content: "\e009";
}

.icon-notebook:before {
  content: "\e00a";
}

.icon-book-open:before {
  content: "\e00b";
}

.icon-browser:before {
  content: "\e00c";
}

.icon-calendar:before {
  content: "\e00d";
}

.icon-presentation:before {
  content: "\e00e";
}

.icon-picture:before {
  content: "\e00f";
}

.icon-pictures:before {
  content: "\e010";
}

.icon-video:before {
  content: "\e011";
}

.icon-camera:before {
  content: "\e012";
}

.icon-printer:before {
  content: "\e013";
}

.icon-toolbox:before {
  content: "\e014";
}

.icon-briefcase:before {
  content: "\e015";
}

.icon-wallet:before {
  content: "\e016";
}

.icon-gift:before {
  content: "\e017";
}

.icon-bargraph:before {
  content: "\e018";
}

.icon-grid:before {
  content: "\e019";
}

.icon-expand:before {
  content: "\e01a";
}

.icon-focus:before {
  content: "\e01b";
}

.icon-edit:before {
  content: "\e01c";
}

.icon-adjustments:before {
  content: "\e01d";
}

.icon-ribbon:before {
  content: "\e01e";
}

.icon-hourglass:before {
  content: "\e01f";
}

.icon-lock:before {
  content: "\e020";
}

.icon-megaphone:before {
  content: "\e021";
}

.icon-shield:before {
  content: "\e022";
}

.icon-trophy:before {
  content: "\e023";
}

.icon-flag:before {
  content: "\e024";
}

.icon-map:before {
  content: "\e025";
}

.icon-puzzle:before {
  content: "\e026";
}

.icon-basket:before {
  content: "\e027";
}

.icon-envelope:before {
  content: "\e028";
}

.icon-streetsign:before {
  content: "\e029";
}

.icon-telescope:before {
  content: "\e02a";
}

.icon-gears:before {
  content: "\e02b";
}

.icon-key:before {
  content: "\e02c";
}

.icon-paperclip:before {
  content: "\e02d";
}

.icon-attachment:before {
  content: "\e02e";
}

.icon-pricetags:before {
  content: "\e02f";
}

.icon-lightbulb:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-pencil:before {
  content: "\e032";
}

.icon-tools:before {
  content: "\e033";
}

.icon-tools-2:before {
  content: "\e034";
}

.icon-scissors:before {
  content: "\e035";
}

.icon-paintbrush:before {
  content: "\e036";
}

.icon-magnifying-glass:before {
  content: "\e037";
}

.icon-circle-compass:before {
  content: "\e038";
}

.icon-linegraph:before {
  content: "\e039";
}

.icon-mic:before {
  content: "\e03a";
}

.icon-strategy:before {
  content: "\e03b";
}

.icon-beaker:before {
  content: "\e03c";
}

.icon-caution:before {
  content: "\e03d";
}

.icon-recycle:before {
  content: "\e03e";
}

.icon-anchor:before {
  content: "\e03f";
}

.icon-profile-male:before {
  content: "\e040";
}

.icon-profile-female:before {
  content: "\e041";
}

.icon-bike:before {
  content: "\e042";
}

.icon-wine:before {
  content: "\e043";
}

.icon-hotairballoon:before {
  content: "\e044";
}

.icon-globe:before {
  content: "\e045";
}

.icon-genius:before {
  content: "\e046";
}

.icon-map-pin:before {
  content: "\e047";
}

.icon-dial:before {
  content: "\e048";
}

.icon-chat:before {
  content: "\e049";
}

.icon-heart:before {
  content: "\e04a";
}

.icon-cloud:before {
  content: "\e04b";
}

.icon-upload:before {
  content: "\e04c";
}

.icon-download:before {
  content: "\e04d";
}

.icon-target:before {
  content: "\e04e";
}

.icon-hazardous:before {
  content: "\e04f";
}

.icon-piechart:before {
  content: "\e050";
}

.icon-speedometer:before {
  content: "\e051";
}

.icon-global:before {
  content: "\e052";
}

.icon-compass:before {
  content: "\e053";
}

.icon-lifesaver:before {
  content: "\e054";
}

.icon-clock:before {
  content: "\e055";
}

.icon-aperture:before {
  content: "\e056";
}

.icon-quote:before {
  content: "\e057";
}

.icon-scope:before {
  content: "\e058";
}

.icon-alarmclock:before {
  content: "\e059";
}

.icon-refresh:before {
  content: "\e05a";
}

.icon-happy:before {
  content: "\e05b";
}

.icon-sad:before {
  content: "\e05c";
}

.icon-facebook:before {
  content: "\e05d";
}

.icon-twitter:before {
  content: "\e05e";
}

.icon-googleplus:before {
  content: "\e05f";
}

.icon-rss:before {
  content: "\e060";
}

.icon-tumblr:before {
  content: "\e061";
}

.icon-linkedin:before {
  content: "\e062";
}

.icon-dribbble:before {
  content: "\e063";
}

@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot");
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Medium-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Medium-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofia_pro_lightregular';
  src: url("../fonts/SofiaProLight-webfont.eot");
  src: url("../fonts/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SofiaProLight-webfont.woff") format("woff"), url("../fonts/SofiaProLight-webfont.ttf") format("truetype"), url("../fonts/SofiaProLight-webfont.svg#sofia_pro_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  body {
    background-color: white;
  }

  header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 60px;
    border-bottom: 2px solid #d3dddc;
  }
  header h1 {
    position: relative;
    top: -30px;
    display: inline-block;
    font-size: 20px;
    padding: 0 5px;
  }
  header h2 {
    display: none;
  }
  header ul {
    display: none;
  }
  header .ribbon {
    display: inline-block;
    background: #f4b5bd;
    height: 70px;
    width: 30px;
    position: relative;
    top: -10px;
    left: 2%;
    border: 0;
    margin-right: 30px;
  }
  header .ribbon:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    height: 0;
    width: 0;
    border: solid 15px #f4b5bd;
    border-bottom-color: transparent;
  }

  .about {
    margin-top: 60px;
    background-color: #85d4e3;
    width: 100%;
    height: 160px;
    text-align: center;
    padding-top: 10%;
  }

  .services {
    margin-top: 10%;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }
  .services .service {
    margin-bottom: 40px;
  }
  .services .service span {
    text-align: center;
    display: block;
    color: #d3dddc;
    font-size: 100px;
  }
  .services .service h4 {
    text-align: center;
    font-family: 'sofia_pro_lightregular';
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0.4%;
    font-size: 18px;
  }
  .services .service p {
    text-align: center;
    margin: 0 auto;
    width: 270px;
    color: #95a5a6;
    font-size: 15px;
  }
  .services div.last {
    margin-bottom: 50px;
  }
  .services .contact-button {
    margin-top: 100px;
    border: 2px solid #95a5a6;
    padding: 15px;
    color: #95a5a6;
    border-radius: 6px;
    transition: 0.5s;
  }
  .services .contact-button:hover {
    transition: 0.5s;
    border: 2px solid #85d4e3;
    color: white;
    background-color: #85d4e3;
  }

  div.projects {
    margin-top: 10%;
    text-align: center;
    width: 100%;
  }
  div.projects div.project {
    margin-bottom: 90px;
  }
  div.projects div.project img.project-image {
    border: 1px solid #d3dddc;
  }
  div.projects div.project h4 a {
    text-align: center;
    font-family: 'sofia_pro_lightregular';
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
    color: #f4b5bd;
    text-decoration: underline;
    transition: 0.5s;
  }
  div.projects div.project h4 a:hover {
    color: #fad77b;
    transition: 0.5s;
  }
  div.projects div.project p.description {
    text-align: center;
    margin: -20px auto 10px auto;
    width: 240px;
    color: #95a5a6;
    font-size: 15px;
  }
  div.projects div.project p.tech {
    text-align: center;
    margin: 0 auto;
    width: 240px;
    color: #95a5a6;
    margin-bottom: 40px;
    font-size: 15px;
    padding-bottom: -10px;
  }
  div.projects div.project p.tech span {
    color: #85d4e3;
    font-size: 17px;
  }
  div.projects div.project a.contact-button {
    margin-top: 100px;
    border: 2px solid #95a5a6;
    padding: 15px;
    color: #95a5a6;
    border-radius: 6px;
    transition: 0.5s;
  }
  div.projects div.project a.contact-button:hover {
    transition: 0.5s;
    border: 2px solid #fad77b;
    color: white;
    background-color: #fad77b;
  }

  .contacts {
    width: 80%;
    margin: 0 auto;
    padding: 25px 15px 25px 15px;
  }
  .contacts .contact {
    border-bottom: 1px solid #d3dddc;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .contacts .contact h2 {
    margin: 0 auto;
  }
  .contacts .contact span {
    z-index: 0;
    font-size: 30px;
    font-weight: light;
    position: relative;
    top: 16px;
    left: -3px;
    color: #f4b5bd;
  }
  .contacts .contact .contact-card {
    width: 70%;
    float: right;
  }
  .contacts .contact .contact-card h4 {
    font-size: 20px;
    font-family: 'sofia_pro_lightregular';
    position: relative;
    top: 0;
    left: -10px;
    color: #95a5a6;
  }
  .contacts .contact .contact-card p {
    position: relative;
    font-size: 16px;
    top: -20px;
    left: -10px;
    color: #95a5a6;
    text-align: left;
    text-decoration: underline;
  }
  .contacts .contact .contact-card a:hover {
    color: #85d4e3;
  }

  .clearing-fix {
    background-color: white;
    height: 60px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    border-top: 1px solid #d3dddc;
  }
  footer ul {
    width: 100%;
    margin: 0 auto;
    padding: 2% 0 2% 0;
  }
  footer ul li {
    display: inline-block;
    width: 24%;
    text-align: center;
  }
  footer ul li .footer-link {
    color: #d3dddc;
    letter-spacing: 1px;
    font-size: 12px;
  }
  footer ul li span {
    display: block;
    font-size: 25px;
    text-align: center;
  }
  footer ul li .active {
    color: #2c3e50;
  }

  .intro {
    margin-top: 10px;
  }
  .intro span.icon-pencil {
    font-size: 30px;
    margin-left: -100px;
  }
  .intro h2 {
    display: inline-block;
  }
  .intro p.blog-intro {
    margin-top: -14px;
    padding-bottom: 40px;
    border-bottom: 1px solid #f4b5bd;
  }

  section {
    margin-left: 4%;
    margin-right: 4%;
  }
  section span {
    position: relative;
    top: 0;
    left: 200px;
    font-size: 70px;
  }
  section div.entry {
    border-bottom: 1px solid #d3dddc;
    border-top: 1px solid #d3dddc h3;
    border-top-font-family: 'novecento_sans_widemedium';
    border-top-padding-top: 10px;
  }
  section div.entry p.date {
    text-align: right;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  section div.entry p.article {
    display: none;
  }
  section div.entry p.show {
    display: block;
  }
}
