.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefixcoyhu2") format("embedded-opentype"), url("../fonts/icomoon.woff?coyhu2") format("woff"), url("../fonts/icomoon.ttf?coyhu2") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e600";
}

.icon-mail:before {
  content: "\e601";
}

.icon-pencil:before {
  content: "\e602";
}

.icon-tools:before {
  content: "\e606";
}

.icon-megaphone:before {
  content: "\e607";
}

.icon-newspaper:before {
  content: "\e608";
}

.icon-briefcase:before {
  content: "\e609";
}

.icon-github:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\e604";
}

.icon-linkedin:before {
  content: "\e605";
}

@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot");
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Medium-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Medium-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  margin: 6%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'novecento_sans_widemedium';
  letter-spacing: 0.06em;
}

p, li, blockquote, label, select, input, .button, .button-big, .button-small, .button-inverse {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.02em;
  color: #2C3E50;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    background-color: #EEEEEE;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid #ABB7B7;
  }
  header h1 {
    display: inline-block;
    font-size: 150%;
    color: #2c3e50;
    letter-spacing: 2.5px;
    padding: 0 5px;
  }
  header h2 {
    display: none;
  }
  header ul {
    display: none;
  }
  header .ribbon {
    display: inline-block;
    background: #3498DB;
    height: 30px;
    width: 30px;
    position: relative;
    top: -10px;
    left: 2%;
    font: 600 16px sans-serif;
    color: #fff;
    line-height: 27px;
    border: 0;
    margin-right: 30px;
  }
  header .ribbon:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    height: 0;
    width: 0;
    border: solid 15px #3498DB;
    border-bottom-color: transparent;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    border-top: 1px solid #ABB7B7;
  }
  footer ul {
    width: 100%;
    margin: 1% auto;
    padding: 1% 0 1% 0;
  }
  footer ul li {
    display: inline-block;
    width: 24%;
    text-align: center;
  }
  footer ul li span {
    display: block;
    font-size: 25px;
    text-align: center;
  }
  footer ul li .footer-link {
    color: #2574A9;
    font-size: 10px;
  }
  footer ul li .active {
    transition: .2s;
    color: #F9BF3B;
  }
}
